* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

header, main, footer {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 16px 24px;
}

header {
  text-align: center;
}

.logo {
  text-decoration: none;
}

.logo:focus {
  outline: none;
}

.logo:focus h1 {
  color: #177fce;
}

h1 {
  color: #062F4F;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 0 16px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0 6px;
  border-radius: 6px;
}

nav a:focus, nav a:hover {
  outline: none;
  color: #177fce;
}

label {
  position: relative;
  display: block;
  font-weight: 600;
  margin: 16px 0;
  transition: all 200ms ease-in-out;
}

label:focus-within {
  color: #177fce;
}

input[type="text"], input[type="date"], input[type="time"], input[type="number"] {
  width: 280px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px 12px;
  display: block;
  margin-top: 4px;
  caret-color: #177fce;
  transition: all 200ms ease-in-out;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="number"]:focus {
  outline: none;
  border: 2px solid #177fce;
}

input[type="radio"] {
  margin-right: 8px;
}

button {
  display: block;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  height: 40px;
  width: 280px;
  background: #062F4F;
  color: white;
  font-weight: 600;
  border: 2px solid #062F4F;
  transition: all 200ms ease-in-out;
  margin: 16px 0;
}

button:hover, button:focus {
  background: white;
  color: #062F4F;
  border: 2px solid #062F4F;
  outline: none;
}

.active-button {
  background: white;
  color: #062F4F;
  border: 2px solid #062F4F;
  outline: none;
}

.poll-results {
  margin: 16px 0 24px;
}

.poll-results p {
  display: inline;
}

.poll-container {
  margin-bottom: 32px;
}

.poll-anchor {
  text-decoration: none;
  color: #062F4F;
}

.poll-anchor:hover, .poll-anchor:focus {
  outline: none;
  color: #177fce;
}

.poll-anchor span {
  display: inline-block;
  transition: transform 150ms ease-in-out;
}

.poll-anchor:hover span, .poll-anchor:focus span {
  transform: translateX(6px);
}

.poll-block {
  display: block;
  text-decoration: none;
  border-radius: 16px;
  width: 100%;
  color: white;
  margin: 12px 0;
  padding: 6px 18px 12px;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
  background: #062F4F;
  background-image: -webkit-linear-gradient(#062F4F,#094979);
  background-image: linear-gradient(#062F4F,#094979);
  background-attachment: fixed;
}

.poll-block:hover, .poll-block:focus {
  outline: none;
  -webkit-transform: scale(1.02) translateY(-5px);
  transform: scale(1.02) translateY(-5px);
}

#jsCookieMessage {
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  color: white;
  margin: 16px auto 0;
  width: 100%;
  background: #062F4F;
}

#refreshButton {
  margin-bottom: 16px;
}

#copyInput {
  cursor: pointer;
  margin-bottom: 12px;
  text-align: center;
}

#subscribeText {
  display: none;
}

#subscribeButton {
  margin-top: 4px;
  display: none;
}

#addAnswer {
  display: none;
}

.removeAnswer {
  display: none;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 266px;
  font-weight: 600;
  font-size: 24px;
}

#liveData {
  display: none;
  position: relative;
  background: lime;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 6px;
  border: 2px solid lime;
  box-shadow: 0 0 0 2px white inset;
  animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    border: 2px solid white;
  }
  to {
    border: 2px solid lime;
  }
}

#liveData:hover:before, #liveData:hover:after {
  opacity: 1;
  transform: translateY(0)
}

#liveData:before {
  opacity: 0;
  transform: translateY(-20px);
  content: 'Live updates are active!';
  position: absolute;
  border-radius: 8px;
  top: -70px;
  left: -46px;
  width: 100px;
  height: 46px;
  background: #062F4F;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  padding: 8px 8px 0;
  transition: all 200ms ease-in-out;
  animation: displayTooltip 4s ease-in-out;
  pointer-events: none;
}

#liveData:after {
  opacity: 0;
  transform: translateY(-20px);
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  border: solid 10px transparent;
  border-top-color: #062F4F;
  pointer-events: none;
  transition: all 200ms ease-in-out;
  animation: displayTooltip 4s ease-in-out;
  pointer-events: none;
}

@keyframes displayTooltip {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  95% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.poll-bar {
  width: 100%;
  height: 32px;
  border: 2px solid black;
  border-radius: 8px;
}

.poll-bar rect {
  fill: #062F4F;
  transition: width 200ms ease-in-out;
}

.poll-bar text {
  font-weight: 600;
}

.saved-poll {
  margin: 16px 0;
  font-size: 18px;
  border-radius: 8px;
  display: block;
  padding: 8px 14px;
  background: #062F4F;
  color: white;
  font-weight: 600;
  border: 2px solid #062F4F;
  transition: all 200ms ease-in-out;
}

.saved-poll:hover, .saved-poll:focus {
  background: white;
  color: #062F4F;
  border: 2px solid #062F4F;
  outline: none;
}

.create-poll {
  display: flex;
  flex-wrap: wrap;
}

.create-poll-column {
  margin-right: 16px;
  width: 50%;
}

.big-button {
  margin: 8px 0;
  width: 100%;
}

.error-message {
  margin-top: 4px;
  font-size: 12px;
  color: #cc0000;
}

.no-error-message {
  display: none;
}