<header>
  <h1>Header</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createpoll">Create new poll</a></li>
      <li><a href="/polls">All polls</a></li>
    </ul>
  </nav>
</header>